* {
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url(/Paginas/fondito.jpg);
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
}
nav, ul, li{
    background-color: rgb(201, 93, 152);
    padding: 10px;
    display: inline;
    margin: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
}
nav{ 
   position: fixed;

}
nav, ul, li a{
    text-decoration: none;
    color: rgb(255, 232, 235);
}
nav, ul, li a:hover{
    color: rgb(243, 174, 184);
}
h1{
    background-color: rgb(234, 234, 243) ;
    height: 50px;
    padding: 20px;
}
article{
    background: linear-gradient(rgba(255, 207, 207, 0.87),rgba(248, 128, 168, 0.829),
    rgba(255, 160, 96, 0.815));
    width: 90%;
    margin-left: 5%;
    height: 300px;
    padding-top: 150px;
}
article, h2{
    text-align: center;
    
}
body{
    overflow: hidden;
}
footer{
    background-color: lightcoral;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: lightcyan;
} 
