header{
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
}
nav, ul, li{
    background-color: rgb(121, 160, 147);
    padding: 10px;
    display: inline;
    margin: 15px;
   
}
nav{ 
   position: fixed;
}
h1{
    background-color: rgb(234, 234, 243) ;
    height: 50px;
    padding: 20px;
}
article{
    background: linear-gradient(rgba(255, 207, 207, 0.87),rgba(248, 128, 168, 0.829),
    rgba(255, 160, 96, 0.815));
    width: 90%;
    margin-left: 5%;
    height: 300px;
    padding-top: 150px;
}
article, h2{
    text-align: center;
    
}