/* selector{ propiedad:valor; propiedad:valor;} */
body{
    background-color: #f7bd9c;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Poppins', sans-serif;
}
 h1{
    background-color: #dd986d;
    color: #4a3020 !important;
}
li{
    display:inline;
    background-color: #f8be9b;
    border: 1px solid #4a3020;
    padding: 10px;
    color: #4a3020;
    cursor: pointer;
    box-shadow: 4px 5px 3px #70625a;
    margin: 10px 10px;
}
li:hover{
    background-color: transparent;
}
#padre, ul{
    background-color: #f0a57a;
    display: flex;
    justify-content: space-around;
}
.hija{
    background-color: chocolate;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#init, #add, #status, #commit{
    width: 18%;
    float: left;
    border: 5px solid chocolate;
    box-sizing: border-box;
    margin: 5px;
    height: 800px;

}
span{
    background-color: chocolate;
    color: rgb(255, 225, 214);
}
a{
    color: rgb(190, 67, 22);
}
a:hover{
    color: crimson;
}
a:visited{
    color: rgb(139, 29, 51);
}
